* {
  box-sizing: border-box;
}
.main {
  .content {
    display: block;
    flex: 0 0 auto;
  }
}
.header--full-width {
  .container {
    padding-left: 20px;
    @media(max-width: 1200px) {
      padding-left: calc(9rem + 20px);
    }
    @media(max-width: 1200px) {
      padding-left: 45px;
    }
  }
}
.top-menu-block {
  margin-bottom: 9rem;
}

.top-menu__list {
  font-size: 2.4rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(#000, .1);
  line-height: 150%;
  margin: 0;

  li {
    padding: 1.2em 0;

    &:not(:last-child) {
      margin-right: 1.66em;
    }

    a {
      display: block;
      position: relative;

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: currentColor;
        position: absolute;
        left: 0;
        bottom: calc(-1.2em - 1px);
        opacity: 0;
        transition: opacity .3s;
      }

      &:hover,
      &.active {
        color: var(--red);

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.text {
  font-size: 1.6rem;

  &--lt {
    font-size: 12px;
  }
}

.grey-dark {
  color: var(--grey-dark)
}

// btn
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  padding: 1em .8em;

  &--lt {
    font-size: 12px;
    padding: .5em 1em;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid currentColor;
  }

  &--red {
    background-color: var(--red);
    color: #fff;
  }

  &--black {
    background-color: #000;
    color: #fff;
  }

  &--red.btn--outline {
    background-color: transparent;
    color: var(--red);
  }

  &--black.btn--outline {
    background-color: transparent;
    color: #000;
  }

  &--middle {
    font-size: 1.6rem;
    padding: .8em 1em;
    min-width: 23rem;
  }

  &--lg {
    font-size: 1.6rem;
    padding: 1em 1.5em;
    min-width: 26rem;
  }

  &--rounded {
    border-radius: 30px;
  }

  &:hover {
    background-color: var(--red-hover);
    color: #fff;
  }

  &:active {
    background-color: var(--red-active);
  }

  .icon {
    margin-right: .5em;
  }
}

//end btn
// card
.models-block {
  padding-bottom: 8rem;
}

.models-list {
  margin: 3rem -1.5rem;
  position: relative;
  z-index: 4;

  &__item {
    width: 25%;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
  }
}

.saloon-name {
  font-size: 12px;
  font-weight: 700;

  a {
    color: var(--red);
    text-decoration: underline;

    &:hover {
      text-decoration: unset
    }
  }
}

.model-card {
  position: relative;
  z-index: 1;
  &--best {
    border: 2px solid #EEAA41;
    border-radius: 20px;
  }
  &:hover {
    @media (min-width: 1280px) {
      z-index: 3;
      .model-card__footer__main--hover {
        display: block;
        z-index: 2;
      }

      .slick-arrow,
      .show-detail {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__top {
    height: 5.4rem;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    padding: 1rem 2rem;

    .btn {
      white-space: nowrap;
      padding: .4em;
    }

    .saloon-name {
      margin-right: 1em;
      max-width: calc(100% - 13rem);
      display: flex;

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        padding-left: 5px;
      }
    }
  }

  &__main {
    position: relative;

    &__top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem;
      z-index: 1;
    }

    &__slider {
      &.slick-dotted {
        margin-bottom: 0;
      }

      .slick-dots {
        bottom: 0;
        padding: .5rem 1rem 1.5rem;
        z-index: 2;

        li {
          width: auto;
          height: auto;

          &.slick-active {
            button {
              background-color: #fff;
            }
          }

          button {
            &::before {
              content: '';
              display: none;
            }

            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: rgba(#fff, .3);
            padding: 0;
            transition: all .3s;
          }
        }
      }

      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba(#000, .1);
        backdrop-filter: blur(12px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        transition: all .3s;
        z-index: 1;
        opacity: 0;
        visibility: hidden;

        &:hover {
          background: rgba(#000, .3);
        }
      }

      .prev-arrow {
        left: 2rem;
      }

      .next-arrow {
        right: 2rem;
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2rem 2rem 3.5rem 2rem;
      z-index: 1;

      .status {
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-bottom: 1em;
        line-height: 150%;
        font-weight: 500;

        &::before {
          width: .8em;
          height: .8em;
          border-radius: 50%;
          margin-right: .8em;
          flex: none;
        }

        &--online {
          &::before {
            content: '';
            background-color: var(--green);
          }
        }

        &--offline {
          color: rgba(#fff, .8);

          &::before {
            content: '';
            background-color: var(--grey-dark);
          }
        }
      }
    }
  }

  &__footer {
    &__main {
      background-color: #fff;
      padding: 1.5rem 2rem 2rem;
      border-radius: 0 0 20px 20px;
      position: relative;

      &--hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        z-index: 2;
      }

      &__cta {
        margin-top: 2rem;

        .btn {
          margin-bottom: 5px;
          flex-grow: 1;
        }
      }
    }

    &__options {
      background-color: #f2f2f2;

      .option {
        width: 50%;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;

        &:not(:last-child) {
          border-right: 1px solid #dadada;
        }

        &::before {
          width: .7em;
          height: .7em;
          flex: none;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: .5em;
        }

        &--available {
          &::before {
            content: '';
            background-image: url('../img/icons/check_red.svg');
          }
        }

        &--unavailable {
          color: #a3a3a3;

          &::before {
            content: '';
            background-image: url('../img/icons/close.svg');
          }
        }
      }
    }

    .model-name {
      display: inline-flex;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1;
      max-width: 65%;

      &__text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .icon {
        width: 1em;
        height: 1em;
        flex: none;
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .model-price {
      font-weight: 700;
      line-height: 150%;
      white-space: nowrap;
      font-size: 1.8rem;
    }

    &__main__bottom {
      margin-top: .6rem;

      .raiting-block + .reviews {
        margin-left: .75em;
      }

      .reviews {
        font-weight: 600;
      }
    }
  }
}

.card-badge {
  background-color: var(--red);
  color: #fff;
  font-size: 12px;
  padding: .5em .75em;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-flex;
  align-items: center;

  &--dark {
    background: rgba(89, 89, 89, 0.75);
  }

  &--yellow {
    background: #EEAA41;
  }

  &:not(:last-child) {
    margin-right: .5rem;
  }

  &__icon + .card-badge__text {
    margin-left: .4em;
  }
}

.card-slide {
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.35) 17.38%,
            rgba(0, 0, 0, 0) 61.98%,
            rgba(0, 0, 0, 0.35) 70.83%,
            rgba(0, 0, 0, 0.86) 100%);
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.favorite {
  cursor: pointer;

  &.active {
    color: var(--red);

    svg path {
      stroke: currentColor;
      fill-opacity: 1;
      fill: currentColor;
    }
  }
}

.model-card .master-parameter {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding: 5px 6px;
  margin: 0 5px 5px 0;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 12px;

  &__icon + .master-parameter__text {
    margin-left: .25em;
  }

  &.active {
    background-color: #fff;
    color: var(--red);
  }
}

.raiting-block {
  font-size: 12px;

  .icon {
    flex: none;
    width: 1.2em;
    height: 1.2em;
    margin-right: 3px;
    transform: translateY(-1px);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.payment-system {
  &__icon {
    &:not(:last-child) {
      margin-right: .3em;
    }

    img {
      max-height: 14px;
    }
  }
}

.social {
  margin: 0;

  li {
    margin-right: 5px;
    margin-bottom: 5px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      border-radius: 5px;
      background-color: var(--grey-bg);

      &:hover {
        background-color: var(--grey);
      }

      img {
        max-height: 16px;
      }
    }
  }
}

.show-detail {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  background: rgba(#000, .2);
  border-radius: 5px;
  backdrop-filter: blur(12px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .75em 1.1em;
  opacity: 0;
  visibility: hidden;
  z-index: 3;

  &:hover {
    background: rgba(#000, .5);
  }
}

//paginator
.paginator {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  li {
    margin-right: 20px;
    margin-bottom: 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #fff;
      position: relative;
      font-size: 14px;
      line-height: 1;

      &::before {
        content: '';
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s;
      }

      &:hover,
      &.active {
        color: #fff;

        &::before {
          opacity: 1;
        }
      }

      span {
        position: relative;
        z-index: 2;
      }

      &.prev-page,
      &.next-page {
        background-color: transparent;
        width: 20px;
        svg {
          width: 8px;
          height: 12px;
        }

        &:hover {
          color: #000;
        }

        &:before {
          display: none;
        }
      }

      &.prev-page {
        min-width: 20px;
      }
    }
  }
}

//end paginator
.paginator-wrapper {
  margin-bottom: 7rem;
}

.paginator-wrapper__left {
  .paginator-total {
    margin-bottom: 20px;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(#000, .7);
  z-index: 100;
  display: none;
}
.show-quick-view {
  overflow: hidden;
  #overlay{
    display: block;
  }
  .popup-model-detail{
    height: auto;
    visibility: visible;
    overflow: unset;
  }
}
.popup-model-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 90%;
  max-width: 1200px;
  max-height: 90vh;
  padding: 3.5rem;
  border-radius: 20px;
  z-index: 110;
  height: 0;
  visibility: hidden;
  overflow: hidden;

  .model-card__main__slider .slick-arrow {
    opacity: 1;
    visibility: visible;
  }

  .close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--red)
    }
  }

  &__left {
    width: 40%;
  }

  &__right {
    width: 55%;
    overflow-y: auto;
    height: 100%;
    max-height: calc(90vh - 7rem);

    &__top {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(#000, .1);

      .popup-model-detail__saloon__detail,
      .saloon-name {
        font-size: 16px;
      }

      .saloon-address {
        margin-top: 10px;
      }
    }

    &__main {
      .model-card__footer__main {
        padding: 0;
      }

      .model-card__footer .model-name,
      .model-card__footer .model-price {
        font-size: 28px;
        font-weight: 700;
      }

      .raiting-block,
      .reviews {
        font-size: 16px;
      }

      .payment-system__icon img {
        height: 20px;
        max-height: unset;
      }
    }
  }

  .model-card__main__slider .slick-dots li button {
    width: 12px;
    height: 12px;
  }
}

.popup-model-detail__description {
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: rgba(26, 24, 31, 0.5);
  margin: 15px 0;

  p {
    margin: 0 0 15px 0;
    font-size: 16px;
    color: rgba(26, 24, 31, 0.5);
    font-weight: 500;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.saloon-address {
  position: relative;
  padding-left: 20px;
  line-height: 1.3;

  &::before {
    content: '';
    width: 14px;
    height: 17px;
    background: url('../img/icons/pin.svg') center no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 2px;
  }
}

.model-options {
  .h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 10px;
  }

  &__list {
    margin-bottom: 20px;

    li {
      margin: 0 10px 10px 0;
    }
  }
}

.label {
  background: #F2F2F2;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: .85em 1.5625em;

}

.model-schedule {
  width: 100%;
  background: #F2F2F2;
  border-radius: 10px;
  padding: 10px 0 0 10px;
  margin: 0 0 20px;

  li {
    width: calc(14.2857% - 10px);
    margin: 0 10px 10px 0;
  }
}

.model-schedule__item {
  background-color: #fff;
  border-radius: 10px;
  min-height: 116px;
  padding: 10px 5px;
  text-align: center;
  font-size: 12px;
  color: #A3A3A3;

  .date {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #f2f2f2;
    margin: 12px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;

    &.active {
      background-color: #000;
      color: #fff
    }
  }

  .work-time {
    span {
      display: block;
      line-height: 1.3;
    }
  }
}

.best-review__author {
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
}

.best-review {
  .raiting-block {
    font-size: 18px;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(26, 24, 31, 0.5);
  }
}

.model-contact-block {
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}

.model-phone-number-block {
  margin-left: 30px;
  flex-grow: 1;

  .phone_number {
    font-size: 24px;
    font-weight: 700;
  }

  .phone_number_active {
    margin-left: 10px;
  }
}
.btn-container--fixed {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  z-index: 90;
}
.show-more-info,
.mobile-btn-fixed {
  display: none;
}

// media
@media(max-width: 1620px) {
  .container {
    max-width: 1080px;
  }
  .show-detail {
    padding: .75em .6em;
    white-space: nowrap;
  }
  .hide-leptop {
    display: none;
  }
  .model-card__main__top {
    padding: 1rem;
  }
  .model-card__main__footer {
    padding: 1rem 1rem 2rem;
  }
  .popup-model-detail__right__main .model-card__footer .model-name,
  .popup-model-detail__right__main .model-card__footer .model-price,
  .model-phone-number-block .phone_number{
    font-size: 18px;
  }
  .popup-model-detail__right__main .payment-system__icon img {
    height: 15px;
  }
  .popup-model-detail__right__main .raiting-block, .popup-model-detail__right__main .reviews,
  .popup-model-detail__description p,
  .best-review p,
  .label{
    font-size: 14px;
  }
  .popup-model-detail__right__top{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .label {
    padding: 0.5em 1.25em;
  }
  .model-options__list {
    margin-bottom: 10px;
  }
  .model-schedule__item {
    min-height: 90px;
    .date{
      margin: 7px 0;
      font-size: 12px;
      width: 25px;
      height: 25px;
    }
  }
  .popup-model-detail__left {
    .model-card {
      max-height: 550px;
      .card-slide img {
        max-height: 550px;
      }
    }
  }
  .model-card__top .saloon-name {
    max-width: calc(100% - 9rem);
  }
}

//1620
@media(max-width: 1280px) {
  #overlay,
  .popup-model-detail {
  display: none !important;
  }
  .models-list__item {
    width: 33.3333%;
  }
  .model-card__top {
    height: 7.4rem;
  }
  .btn__badge {
    font-size: 10px;
    min-width: 2em;
    height: 2em;
  }
  .top-menu-block {
    margin-bottom: 4rem;
  }
  .show-more-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 1em 0;
    margin-top: 1em;
    border-top: 1px solid #f2f2f2;

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      background: url('../img/icons/angle_down.svg') center no-repeat;
      flex: none;
    }

    &.active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  .model-card__footer__main:not(.model-card__footer__main--hover .model-card__footer__main) {
    padding-bottom: 0;
  }
  .model-card__footer__main--hover {
    display: none;
    top: 100%;

    .model-card__footer__main__top,
    .model-card__footer__main__bottom {
      display: none;
    }
  }
  .social li a {
    width: 36px;
    height: 36px;
  }
  .model-card__footer__options {
    border-radius: 5px;
  }
  .model-card__footer__options .option {
    padding: 10px 5px;
  }
  .model-card.show {
    z-index: 3;

    .model-card__footer__main:not(.model-card__footer__main--hover .model-card__footer__main) {
      border-radius: 0;
    }
  }
  .show {
    .model-card__footer__main--hover {
      display: block;
    }
  }
  .mobile-btn-fixed {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    overflow: hidden;
    height: 36px;
    width: 205px;
    display: flex;
    font-size: 12px;
    z-index: 90;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      &:not(:last-child) {
        border-right: 1px solid currentColor;
      }

      .icon {
        width: 16px;
        height: 16px;
        flex: none;
        margin-right: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .show-detail {
    display: none !important;
  }
}

//1280
@media(max-width: 800px) {
  .models-list__item {
    width: 50%;
  }
  .model-card__footer .model-name,
  .model-card__footer .model-price {
    font-size: 18px;
  }
  .paginator-wrapper {
    width: 100%;

    &__left {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .paginator-total {
        margin-top: 20px;
        font-size: 14px;
      }
    }

    .btn {
      display: none;
    }
  }
  .btn--middle {
    font-size: 14px;
    min-width: unset;
  }
}

//800
@media(max-width: 767px) {
  .models-list__item {
    width: 100%;
  }
  .content {
    margin-top: 51px;
  }
  .top-menu-block {
    .container {
      padding: 0;
    }
  }
  .top-menu__list {
    font-size: 14px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    li {
      padding: 25px 0;

      a::after {
        bottom: -24px;
      }
    }
  }
  .filter-block {
    margin-bottom: 0;

    .container {
      padding: 0;
    }
  }
  .text {
    font-size: 14px;
  }
  .model-card__top {
    height: 58px;

    .saloon-name {
      font-size: 14px;
      max-width: calc(100% - 70px);
      margin-right: 5px;

    }
  }
  .model-card__main__top {
    padding: 15px;
  }
  .model-card__main__footer {
    padding: 15px 15px 25px;
  }
  .card-badge:not(:last-child) {
    margin-right: 5px;
  }
  .show .model-card__footer__main--hover {
    position: relative;
    top: 0;
  }
  .model-card__main__slider .slick-dots {
    padding: 5px 15px 15px;
  }
  .model-card__footer__main {
    padding: 15px;
  }
  .model-card.show .model-card__footer__main:not(.model-card__footer__main--hover .model-card__footer__main) {
    border-radius: 0 0 20px 20px;
  }
  .filter-block .h2 {
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .masters-found {
    margin-bottom: 15px;
  }
}

//767
